<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dictionary</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
        <!-- navbar -->
    <div> 
        <nav class="navbar bg-body-primary rounded mb-2 navbar-expand-lg">
            <div class="container-fluid">
                <b>
                    <i class="bi bi-journals" ></i>
                    My Dictionary
                </b>
            </div>
        </nav>
    </div>

  <!-- shows error -->
    <div class="alert alert-primary m-5 p-3" role="alert"> 
        <h2><%= title %></h2>
        <p><%= message %></p>
        <small><%= details %></small>
    </div>

    <a href="/" class="btn btn-outline-primary ms-5 p-2">Enter word again</a>

</body>
</html>